<script setup>
import { ref } from 'vue';
let title = ref('امروز')
const menu = ['امروز', 'پیش بینی روز های آینده', 'وضع آلودگی هوا']
</script>

<template>
    <section
        class="flex mt-5 p-2 justify-between items-center gap-7 pl-7 border-b border-b-868794 w-full overflow-scroll text-nowrap">
        <div v-for="item in menu" class=" cursor-pointer">
            <span @click="title = item" :class="title === item ? 'text-fff relative bottom-2 after:border-b after:border-b-fff after:transition-[width] after:delay-150 after:w-full after:absolute after:bottom-[-16px] after:right-0'
                : 'text-868794 relative bottom-2 after:w-0 '">
                {{ item }}
            </span>
        </div>
    </section>
</template>