<script setup>
import Header from '../components/shared/Header.vue';
import Menu from '../components/shared/Menu.vue';
</script>

<template>
  <div class="max-w-[768px] min-w-[320px] w-[100%] main-bg h-screen">
    <Header />
    <Menu />
    <!-- date section -->
    <div class="flex w-100 my-4  justify-center">
      date section
    </div>
    <!-- temp and weather section -->
    <div class="flex mx-6 pb-5 justify-between items-center border-b-2 border-868794 border-dashed">
       <!-- temp section -->
       <div>
        temp section
       </div>
       <!-- weather section -->
       <div>
        weather section
       </div>
    </div>
  </div>
</template>

<style scoped>
.main-bg {
  background: linear-gradient(180deg, #484B5B 0%, #2C2D35 89.55%);
}
</style>

