/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vazir;
    src: url(./font/Vazir.ttf);
    src: url(./font/Vazir.woff);
    src: url(./font/Vazir.woff2);
}

body {
    font-family: Vazir;
}